$primary-color :#F4ACB7;
$secondary-color: #ffffff;
$tertiary-color: #A33103;
$cuartiary-color: #A331034d;
$gold-color: #f4a152;
$button-color: #E054B8;
$black-color: #000000;
$background-color: rgb(47, 47, 49);


