@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Comfortaa:wght@300&family=Mulish:wght@300&family=Open+Sans:wght@300;400;700&family=Oswald:wght@300&family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Comfortaa:wght@300&family=Mulish:wght@300&family=Open+Sans:wght@300;400;700&family=Oswald:wght@300&family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Comfortaa:wght@300&family=Mulish:wght@300&family=Open+Sans:wght@300;400;700&family=Oswald:wght@300&family=Poppins:wght@300&display=swap");
.footer {
  background-color: rgba(163, 49, 3, 0.3019607843);
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}
.footer .navegacion-footer ul {
  list-style: none;
}
.footer .navegacion-footer ul a {
  text-decoration: none;
  color: #ffffff;
}
.footer h5 {
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: center;
}
.footer .contacto-footer {
  display: flex;
  justify-content: center;
}
.footer .contacto-footer ul {
  list-style: none;
}
.footer .contacto-footer ul li {
  margin: 4px;
  color: #ffffff;
}

.bienvenida {
  background-color: rgba(163, 49, 3, 0.3019607843);
}
.bienvenida p {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
}

nav {
  background-color: #ffffff;
}
nav ul {
  width: 100%;
}
nav .navbar-nav li a {
  text-decoration: none;
  color: #A33103;
  font-size: 20px;
  font-weight: 600;
}
nav .navbar-nav li a:hover {
  scale: 1.1;
  color: rgba(163, 49, 3, 0.3019607843);
  border-radius: 30px;
}

.portada {
  background: #ffffff;
  width: 100%;
  height: 200px;
}
.portada h1 {
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  text-align: center;
  padding-top: 10px;
  color: #000000;
}
@media (max-width: 586px) {
  .portada h1 {
    font-size: 50px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.boton-card {
  background-color: #ffffff;
  color: #f4a152;
  text-decoration: none;
  font-size: 16px;
  height: 30px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin-bottom: 50px;
}
.boton-card:hover {
  transform: scale(1.1);
  background-color: #f4a152;
  color: #ffffff;
}

#boton {
  background-color: #E054B8;
  border: none;
}
#boton:hover {
  transform: scale(1.1);
}

#boton-formulario {
  background: #E054B8;
  border: none;
  color: #ffffff;
  font-size: 17px;
  padding: 20px;
  padding-bottom: 40px;
  box-sizing: border-box;
  border-radius: 5px;
}
#boton-formulario:hover {
  transform: scale(1.1);
  color: #ffffff;
}

/* box de imagenes con redireccion + querys*/
.box-imagenes .img-1 {
  background-image: url(https://d2r9epyceweg5n.cloudfront.net/stores/001/044/820/themes/idea/1-img-176017535-1663786751-481ba5b0d7fbb75ceabc63be6b6dde751663786751-1024-1024.webp?46611680);
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  color: #ffffff;
  font-size: 35px;
  font-weight: 700;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f4a152;
  background-blend-mode: hard-light;
  border-radius: 10px;
}
.box-imagenes .img-2 {
  background-image: url(https://d2r9epyceweg5n.cloudfront.net/stores/001/044/820/products/india6811-acf5ccfd08eecdc64216637260605424-1024-1024.jpeg);
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  color: #ffffff;
  font-size: 35px;
  font-weight: 700;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(47, 47, 49);
  background-blend-mode: hard-light;
  border-radius: 10px;
}
.box-imagenes .img-3 {
  background-image: url(https://d2r9epyceweg5n.cloudfront.net/stores/001/044/820/products/dsc_0119-21-0c81404778253e675216043295153415-1024-1024.jpg);
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  color: #ffffff;
  font-size: 35px;
  font-weight: 700;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(47, 47, 49);
  background-blend-mode: hard-light;
  border-radius: 10px;
}

.card {
  margin: 20px;
}
.card img {
  height: 400px;
  width: auto;
}
.card h5 {
  color: #A33103;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}
.card p {
  color: #f4a152;
  font-family: "Muli", sans-serif;
  font-weight: bold;
}

.icons {
  display: flex;
  -moz-column-gap: 25px;
       column-gap: 25px;
  padding: 20px;
  justify-content: center;
}
.icons .icon {
  width: 60px;
  height: 60px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 20px;
  color: #ffffff;
  border-radius: 50%;
  transition-property: outline-offset, outline-color, background-color;
  transition-duration: 0.25s;
}
.icons .icon .svg {
  width: 40px;
  height: 40px;
}
@-webkit-keyframes shake {
  10% {
    transform: rotate(15deg);
  }
  20% {
    transform: rotate(-15deg);
  }
  30% {
    transform: rotate(15deg);
  }
  40% {
    transform: rotate(-15deg);
  }
}
@keyframes shake {
  10% {
    transform: rotate(15deg);
  }
  20% {
    transform: rotate(-15deg);
  }
  30% {
    transform: rotate(15deg);
  }
  40% {
    transform: rotate(-15deg);
  }
}
.icons .icon:hover {
  outline-offset: 4px;
}
.icons .icon:hover i {
  -webkit-animation: shake 0.25s;
          animation: shake 0.25s;
}
.icons .icon--instagram:hover {
  background-image: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d62497 60%, #285aeb 90%);
  outline-color: #a02d76;
}
.icons .icon--linkedin:hover {
  background-color: #0077b5;
  outline-color: #0077b5;
}
.icons .icon--github:hover {
  background-color: #2ea44f;
  outline-color: #2ea44f;
}

.beneficios div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.beneficios div img {
  height: 80px;
  width: 80px;
  color: #A33103;
}

.container-formulario {
  width: 350px;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-formulario .formulario {
  background-color: beige;
  width: 300px;
  height: 400px;
  margin: auto;
  padding: 10px 20px;
  box-sizing: border-box;
  margin-top: 20px;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container-formulario .formulario input, .container-formulario .formulario textarea {
  width: 100%;
  height: 30px;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
}
.container-formulario .formulario textarea {
  min-height: 100px;
  max-height: 200px;
  max-width: 100%;
}
.container-formulario .titulo-contacto {
  text-align: center;
  margin: 0;
  font-size: 20px;
  margin-bottom: 20px;
}

.beneficios div {
  color: #A33103;
}
.beneficios div h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 22px;
  line-height: 1.4;
}
.beneficios div p {
  font-family: "Mulish", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
}
@media (max-width: 586px) {
  .beneficios div {
    font-size: 20px;
  }
}

.title-secondary {
  background-color: #ffffff;
  height: 200px;
}
.title-secondary .texto-dinamico {
  line-height: 45px;
  height: 45px;
  overflow: hidden;
  text-align: left;
}
@-webkit-keyframes slide {
  100% {
    top: -100px;
  }
}
@keyframes slide {
  100% {
    top: -100px;
  }
}
@-webkit-keyframes typing {
  40%, 60% {
    left: calc(100% + 30px);
  }
  100% {
    left: 0;
  }
}
@keyframes typing {
  40%, 60% {
    left: calc(100% + 30px);
  }
  100% {
    left: 0;
  }
}
.title-secondary .texto-dinamico li {
  list-style: none;
  color: #f4a152;
  font-family: "Poppins", sans-serif;
  font-style: italic;
  font-size: 45px;
  font-weight: 500;
  top: 0;
  position: relative;
  -webkit-animation: slide 12s steps(1) infinite;
          animation: slide 12s steps(1) infinite;
}
.title-secondary .texto-dinamico li::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  -webkit-animation: typing 5s steps(15) infinite;
          animation: typing 5s steps(15) infinite;
  background-color: #ffffff;
}
@media (max-width: 586px) {
  .title-secondary .texto-dinamico li {
    font-size: 20px;
  }
}
@media (max-width: 586px) {
  .title-secondary {
    display: flex;
    flex-wrap: wrap;
  }
}

.container-parrafo {
  padding: 10px;
}
.container-parrafo .quienes-somos {
  font-family: cursive;
  padding: 100px;
}

.devoluciones p {
  font-family: cursive;
  padding: 100px;
}/*# sourceMappingURL=app.css.map */