@import "../variables";

@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Comfortaa:wght@300&family=Mulish:wght@300&family=Open+Sans:wght@300;400;700&family=Oswald:wght@300&family=Poppins:wght@300&display=swap');



.bienvenida{
    background-color: $cuartiary-color;
    p{
    color: $secondary-color;
    font-family: 'Poppins', sans-serif;
    }
}

nav{
    background-color: $secondary-color;

    ul{
        width: 100%;
    }

    .navbar-nav{
        li{
            a{
                text-decoration: none;
                color: $tertiary-color;
                font-size: 20px;
                font-weight: 600;

                &:hover{
                    scale: 1.1;
                    border-radius: 20px;
                    color: $tertiary-color;
                    border-color: $tertiary-color;
                    border: solid 1px;
                }
            }
        }
    }
}

