@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Comfortaa:wght@300&family=Mulish:wght@300&family=Open+Sans:wght@300;400;700&family=Oswald:wght@300&family=Poppins:wght@300&display=swap');


@import "../variables";

/* box de imagenes con redireccion + querys*/

.box-imagenes{
    .img-1{
        background-image: url(https://d2r9epyceweg5n.cloudfront.net/stores/001/044/820/themes/idea/1-img-176017535-1663786751-481ba5b0d7fbb75ceabc63be6b6dde751663786751-1024-1024.webp?46611680);
        width: 300px;
        height: 300px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        color: $secondary-color;
        font-size: 35px;
        font-weight: 700;
        background-repeat: no-repeat;
        background-size: cover;
        background-color:$gold-color ;
        background-blend-mode:hard-light;
        margin: 20px 0;
        
    }
    .img-2{
        background-image: url(https://d2r9epyceweg5n.cloudfront.net/stores/001/044/820/products/india6811-acf5ccfd08eecdc64216637260605424-1024-1024.jpeg);
        width: 300px;
        height: 300px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        color: $secondary-color;
        font-size: 35px;
        font-weight: 700;
        background-repeat: no-repeat;
        background-size: cover;
        background-color:$background-color ;
        background-blend-mode:hard-light;
    
    }
    .img-3{
        background-image: url(https://d2r9epyceweg5n.cloudfront.net/stores/001/044/820/products/dsc_0119-21-0c81404778253e675216043295153415-1024-1024.jpg);
        width: 300px;
        height: 300px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        color: $secondary-color;
        font-size: 35px;
        font-weight: 700;
        background-repeat: no-repeat;
        background-size: cover;
        background-color:$background-color ;
        background-blend-mode:hard-light;
        margin: 10px 0;
    }
}

.card{
    margin: 20px;

    img{
        height: 400px;
        width: auto;
    }

    h5{
        color: $tertiary-color;
        font-size: 16px;
        font-family: 'Poppins', sans-serif;
    }

    p{
        color: $gold-color;
        font-family: 'Muli', sans-serif;
        font-weight: bold;
    }

}