@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Comfortaa:wght@300&family=Mulish:wght@300&family=Open+Sans:wght@300;400;700&family=Oswald:wght@300&family=Poppins:wght@300&display=swap');


@import "../variables";

/* box de imagenes con redireccion + querys*/

.box-imagenes{
    .img-1{
        background-image: url(https://d2r9epyceweg5n.cloudfront.net/stores/001/044/820/products/india2941-6c8ee0737e459b568f16636000446345-1024-1024.jpeg);
        width: 300px;
        height: 300px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        color: $secondary-color;
        font-size: 35px;
        font-weight: 700;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        background-color:$grey-color ;
        background-blend-mode:hard-light;
        border-radius: 10px;

        @media (max-width: 586px){
            margin-bottom: 20px;
        }
        
    }
    .img-2{
        background-image: url(https://d2r9epyceweg5n.cloudfront.net/stores/001/044/820/products/india6811-acf5ccfd08eecdc64216637260605424-1024-1024.jpeg);
        width: 300px;
        height: 300px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        color: $secondary-color;
        font-size: 35px;
        font-weight: 700;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        background-color:$grey-color ;
        background-blend-mode:hard-light;
        border-radius: 10px;

        
        @media (max-width: 586px){
            margin-bottom: 20px;
        }
    }
    .img-3{
        background-image: url(https://d2r9epyceweg5n.cloudfront.net/stores/001/044/820/products/india11731-458b6123353d2dfc2d16636957887123-1024-1024.jpeg);
        width: 300px;
        height: 300px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        color: $secondary-color;
        font-size: 35px;
        font-weight: 700;
        background-repeat: no-repeat;
        background-size: cover;
        background-color:$grey-color ;
        background-blend-mode:hard-light;
        border-radius: 10px;

    }

}

.card{
    margin: 20px;

    img{
        height: 400px;
        width: auto;
    }

    h5{
        color: $tertiary-color;
        font-size: 16px;
        font-family: 'Poppins', sans-serif;
    }

    p{
        color: $gold-color;
        font-family: 'Muli', sans-serif;
        font-weight: bold;
    }

}