@import "../variables";

.boton-card{
    background-color: $button-color;
    color: $secondary-color;
    text-decoration: none;
    font-size: map-get($font-sz, font-s);
    height: 30px;
    width: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    border-radius: 5px;

    &:hover{
        transform: scale(1.1);
        color: $secondary-color;
    }
}

#boton{
    background-color:$button-color;
    border: none;

    &:hover{
        transform: scale(1.1);
    }
}

#boton-formulario{
        background: $button-color;
        border: none;
        color: $secondary-color;
        font-size: 17px;
        padding: 20px;
        padding-bottom: 40px;
        box-sizing: border-box;
        border-radius: 5px;

        &:hover{
            transform: scale(1.1);
            color: $secondary-color;
        }
    }

