@import "../variables";

.boton-card{
    background-color: $secondary-color;
    color: $gold-color;
    text-decoration: none;
    font-size:  16px;
    height: 30px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-bottom: 50px;
    transition: all 0.25s ease-in;

    &:hover{
        transform: scale(1.1);
        background-color: $gold-color;
        color: $secondary-color;
    }
}

#boton{
    background-color:$button-color;
    border: none;
    transition: all 0.25s ease-in;

    &:hover{
        transform: scale(1.1);
    }
}

#boton-formulario{
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        border-radius: 10px;
        background: $gold-color;
        border: none;
        color: $secondary-color;
        font-size: 17px;
        height: 40px;
        width: 147px;
        text-transform:uppercase;
        letter-spacing: 6px;
        transition: all 0.25s ease-in;


        &:hover{
            transform: scale(1.1);
            color: $gold-color;
            border: 1px solid;
            background-color: $secondary-color;
            border-color:$gold-color;
        }
    }

.boton-productos{
            background-color: $gold-color;
            color: $secondary-color;
            border:none;
            margin-bottom: 40px;
            transition: all 0.25s ease-in;

            &:hover, &:active, &:focus{
            background-color: $secondary-color;
            color: $gold-color;
            border: none;
        }
}   

.menu-desplegable{
    li{
        a{
            color: $gold-color;
        }
    }
}

